<% if (theme.valine && post.comments) { %>
<div id="vcomments"></div>
<script>
  window.onload = function(){
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: "<%= theme.v_appId %>",
        appKey: "<%= theme.v_appKey %>",
        path: window.location.pathname,
        placeholder: "对待女朋友要像对待代码一样  在我心里你永远没错  错了也是我来改",
        serverURLs: '<%= theme.valine.serverURLs %>'
      })
  }
</script>
<% } %>

<% if (theme.waline.enable && post.comments) { %>
    <script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
    <div id="waline"></div>
    <style>
    #waline textarea {
        box-sizing: border-box;
        background: url("<%- url_for(theme.waline.background) %>") 100% 100% no-repeat;
    }
    </style>
    <script>
        Waline({
              el: '#waline',
              serverURL: '<%- theme.waline.serverURL %>',
              pageSize: '<%- theme.waline.pageSize %>',
              lang: '<% if (config.language == "zh-cn") {  %>zh-CN<% } else { %>en<% } %>',
              requiredFields: ['nick','mail'], //设置必填项
              placeholder: '<%= theme.waline.placeholder %>',
              visitor: '<%- theme.waline.visitor %>',
              emoji: [
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo',
              ],
              avatar: '<%- theme.waline.avatar %>',
              dark: 'auto',
            });
    </script>
<% } %>
